
.a{
    margin: 30px;
    margin-left: 105px;
   

    width: 1100px;
    height: 700px;
   border-radius: 10px;
   border-style:solid;
   border-color:rgb(102, 15, 15);
    background-color: bisque;
}
.m{
    margin: 30px;
    margin-left: 105px;
   

    width: 1100px;
    height: 5210px;
   border-radius: 10px;
   border-style:solid;
   border-color:rgb(145, 61, 55);
    background-color: bisque;

}
.awards{
    margin: 30px;
    margin-left: 105px;
   

    width: 1100px;
    height: 3100px;
   border-radius: 10px;
   border-style:solid;
   border-color:rgb(145, 61, 55);
    background-color: bisque;

}
.rp{
    margin: 30px;
    margin-left: 105px;
   

    width: 1100px;
    height: 700px;
   border-radius: 10px;
   border-style:solid;
   border-color:rgb(145, 61, 55);
    background-color: bisque;

}
.public{
    margin: 30px;
    margin-left: 105px;
   

    width: 1100px;
    height: 1100px;
   border-radius: 10px;
   border-style:solid;
   border-color:rgb(145, 61, 55);
    background-color: bisque;

}
.z{
    margin: 30px;
    margin-left: 105px;
   

    width: 1100px;
    height: 1000px;
   border-radius: 10px;
   border-style:solid;
   border-color:rgb(145, 61, 55);
    background-color: bisque;

}
.header{
  
    margin-left: 160px;;
   color:rgb(156, 53, 53);
    font-display: bold;
}



.header ul{
    display: inline-flex;
    list-style: none;

}
.header ul li{
    margin: 20px;;
}
.header ul ul{
    position: absolute;
    display: none;
    list-style: none;
   

}
.header ul li:hover>ul{
    display: block;
   
}

.header ul li ul{
  
    position: absolute;
    width:300px;
    height: 130px;
    background-color: bisque;
    border-style: solid;
    border-color: rgba(245, 245, 220, 0.733);;
    border-radius: 20px;
}

.header ul li ul li{
    
    margin: -8px;
    font-size: 13px;
    margin-top: 8px;
    
    
}
.header ul ol{
    position: absolute;
    display: none;
    list-style: none;
   

}
.header ul li:hover>ol{
    display: block;
}
.header ul li ol li:hover>ol{
    display: block;
}
.header ul li ol{
  
    position: absolute;
    width:300px;
    height: 120px;
    background-color: bisque;
    border-style: solid;
    border-color: rgba(245, 245, 220, 0.733);;
    border-radius: 20px;
}
.header ul li ol li{
    
    margin: -8px;
    font-size: 13px;
    
    margin-top: 10px;
    
}
.c{
    font-size: 10px;
    margin-top: 50px;
    text-align: center;
    color:rgb(104, 34, 34);
    cursor: default;
}
.med3t1{
    color:rgb(104, 34, 34);
    cursor: default;
}
.med3t{
    cursor: default;
    color:rgb(143, 33, 25);
}
.x{
    cursor: default;
    margin-top: 16.5px;
    
}
.d{
    cursor: default;
    font-size: 10px;;
    text-align: left;
    width: 600px;
    height: 200px;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 16px;
    color:rgb(143, 33, 25);
   
}

.b img{
    margin-left: 700px;
    margin-top: -200px;
    border-style: solid;
    border-radius: 20px;
    border-color:rgb(216, 129, 23);

}
.e{
    color:rgb(143, 33, 25);
    cursor: default;
}

.e img{
    
    margin-top: 100px;
    margin-left: 60px;
    border-style: solid;
    border-radius: 20px;
    border-color:rgb(216, 129, 23);
}
.e1i{
   
    height: 100px;
    width: 5px;
    margin-top: 0px;
    margin-left: -254px;;
}
.e1i i{
    margin-left: 150px;
}
.e1i ul{
    list-style: none;;
    display: inline-flex;
    
}
.e1i ul li{
    margin: 115px;
}

.e1{  
   

    margin-top: -575px;
    margin-left: 400px;
    font-size: 20px;;
    
}
.e11{
    margin-top: 250px;;
    color:rgb(104, 34, 34);
   
}

.e2{
    margin-top: 30px;
}
.e2t1{
    margin-left: 465px;
    font-size: 10px;
    
}
.e2t2{
    font-size: 15px;
    margin-left: 585px;
    margin-top: -32px;;
}
.e3{
    
    
}
.e3t1{
    margin-left: 447px;
    font-size: 10px;
}
.e3t2{
    font-size: 15px;
    margin-left: 554px;
    margin-top: -32px;;
}
.e3t2 ul li{
    margin: 5px;;
}
.e4{
    margin-left: 30px;;
    
}
.e4t1{
    margin-left: 30px;
    font-size: 10px;
}
.e4t2{
margin: 0px;;
}
.e5{
    margin-left:580px;
    margin-top: -210px;
}
.e5t2{

}
.e5t1{
    margin-left: 30px;
    font-size: 10px;
}
.e6{
    margin-top: 100px;;
}
.e6t1{
    font-size: 10px;
    margin-left: 50px;
}
.e6t1 p{font-size: 15px;

}
.e6t2{
    margin-left: 50px;
}
.e6t3{
    margin-left: 50px;
    font-size: 18px;;
}
.e6t4{
    font-size: 17px;
    margin-left: 50px;
}
.sss{
    margin-left: -605px;
    margin-top: 50px;;
}
.p1t{
    margin-left: 30px;
    font-size: 15px;
    cursor: default;
    color:rgb(104, 34, 34);
    margin-top: 30px;

}
.cert{
    color:rgb(104, 34, 34);
}
* {box-sizing:border-box}


.slideshow-container {
  width: 100px;
  height: 1000px;;
  position: relative;
  margin: auto;
  
}


.mySlides {

  display: none;
}




.prev{
    margin-left: 0px;
    cursor: pointer;
  position: absolute;
  top: 50%;
  height: 30px;;
  width: 30px;
  padding-top: 1px;
 padding-left: 10px;
  color:black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
    cursor: pointer;
  position: absolute;
  top: 50%;
  height: 30px;;
  width: 30px;
  padding-left: 10px;
  padding-top: 1px;
  color:black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 0;
  margin-right: -600px;;
 
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}





.numbertext {
  color: black;
  font-size: 15px;
  padding-top: 10px;;
  width: 100px;
  margin-left: 330px;
  position: absolute;
 
}

.pubd{
    margin-top: -150px;;
    margin-left: 600px;;
    position: relative;
    
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.awat{
    color:rgb(143, 33, 25);
    cursor: default;
    margin-left: 50px;;
}
.awa1{
    margin-left: 30px;
    margin-top: 30px;;
}
.awa1 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.awa2{
    margin-top: -353px;
    margin-left: 550px;
}
.awa2 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.awa3{
    margin-left: 30px;
    margin-top: 30px;;
}
.awa3 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.awa4{
    margin-top: -353px;
    margin-left: 550px;
}
.awa4 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.awa5{
    margin-left: 30px;
    margin-top: 30px;;
}
.awa5 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}

.awa6{
    margin-top: -353px;
    margin-left: 550px;
}
.awa6 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.awa7{
    margin-left: 30px;
    margin-top: 30px;;
}
.awa7 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.awa8{
    margin-top: -353px;
    margin-left: 550px;
}
.awa8 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.awa9{
    margin-left: 30px;
    margin-top: 30px;;
    
}
.awa9 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.cert{
    text-align: center;;
}
.cers{
    margin-top: 30px;;
    margin-left:-600px; ;
}
.med1t{
    font-size: 16px;;
    margin-left: 30px;;
}
.med11{
    margin-top: 20px;
    margin-left: 30px;;
}
.med11 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
    
}
.med12{
    margin-left: 330px;
    margin-top: -200px;;
}
.med12 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.med13{
    margin-left: 500px;
    margin-top: -180px;;
}
.med13 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.med14{
    margin-left: 800px;
    margin-top: -180px;;
}
.med14 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}

.med2t{
    font-size: 17px;;
    margin-left: 30px;;
    margin-top: 10px;
}
.med21{
    margin-top: 20px;
    margin-left: 30px;;
}
.med21 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
    
}
.med22{
    margin-left: 300px;
    margin-top: -155px;;
}
.med22 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
    
}
.med23{
    margin-left: 560px;
    margin-top: -155px;;
}
.med23 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.med24{
    margin-left: 820px;
    margin-top: -155px;;
}
.med24 img{
    border-style: solid;
    border-radius: 20px;
    border-color: bisque;
}
.med3t1{
    margin-left: 30px;;
    margin-top: 20px;
    font-size: 18px;
}
.med3t{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;;
}
.med4t{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 16px;;
}
.med71{
    margin-top: 10px;
    margin-left: 20px;;
}
.med72{
    margin-left: 235px;
    margin-top: -305px;;
}
.med73{
    margin-top: -305px;
    margin-left: 450px;
}
.med74{
    margin-top: -305px;
    margin-left: 665px;
}
.med75{
    margin-top: -305px;
    margin-left:880px ;

}